@page "{id:int?}"
@model ScriptureJournal.Pages.Scriptures.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<main>
    <h4>Journal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Journal.Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Journal.Book)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Journal.BookInScriptures)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Journal.BookInScriptures)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Journal.Chapter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Journal.Chapter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Journal.Verse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Journal.Verse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Journal.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Journal.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Journal.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Journal.DateAdded)
        </dd>
    </dl>
</main>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Journal.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
